.modal__content_type_image {
  padding: 0;
  border-radius: 16px;
}

.modal__image {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__footer {
  padding-left: 32px;
		font-family: "Cabinet Grotesk";
}

.modal__caption {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 12px;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
}

.modal__weather {
	margin: 0;
	padding-bottom: 32px;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
}

@media screen and (max-width: 630px) {
	.modal__close {
			width: 15px;
			height: 15px;
	}

	.modal__caption {
			font-size: 18px;
	}

	.modal__weather {
		font-size: 18px;
	}
}
