@font-face {
  src: url("../assets/yellowtail-regular.woff") format("woff");
  font-family: "Yellowtail";
}

.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  border: solid 2px red;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.header__user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.header__username {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.header__button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  /* width: 116px;
  height: 24px; */
  margin: 0 20px 0 auto;
  padding: 0;
  border: none;
  cursor: pointer;
}

.header__button-text {
  display: inline;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  padding: 0;
  color: black;
}
